In [1]:
import pandas as pd

In [31]:
df = pd.read_csv('d2r2.csv', header=None, names=['X'])

In [32]:
cues = list(df['X'])

In [34]:
label = cues[0::3]
cue_dist = cues[1::3]
tot_dist = cues[2::3]

In [40]:
columns =  ['cue', 'dist', 'total']
data = { columns[x] : cues[x::3] for x in range(3) }

In [42]:
df = pd.DataFrame(data, columns=columns)

In [47]:
df['total'] = df.total.astype('float')

In [48]:
df['remaining'] = 64.8-df['total']

In [54]:
df.to_csv('d2r2_100k_cue.csv')

In [53]:
df

                                                  cue dist  total  remaining
0   Head South on Mill Village Rd (LEFT out of mai...  0.9    0.9       63.9
1   RIGHT at stone shack onto Stillwater Rd. No sign.    1    1.9       62.9
2   RIGHT onto Upper Rd (concrete bridge over Deer...  2.7    4.6       60.2
3   LEFT onto Old Albany Rd (as you approach Clark...  0.3    4.9       59.9
4   Road narrows at house with solarium, don't fol...  0.3    5.2       59.6
..                                                ...  ...    ...        ...
71                    Bear right, staying on pavement  0.2   61.8        3.0
72  Bottom of sharp hill, RIGHT onto Upper Rd - Da...    1   62.8        2.0
73  T-intersection after concrete bridge, LEFT ont...  0.9   63.7        1.1
74  T-intersection, LEFT onto Mill Village Rd (no ...  0.1   63.8        1.0
75  Note: Optional 5-Mile Finishing Loop starts he...  1.1   64.8        0.0

[76 rows x 4 columns]

In [55]:
bill_ind = pd.read_clipboard()

In [56]:
bill_ind

     BILL_IND_C         (No column name)
0           360  2021-05-28 13:12:00.000
1           167  2012-07-04 16:52:00.000
2           170  2012-11-26 15:03:00.000
3           265  2017-06-22 10:20:00.000
4            11  2016-11-30 10:43:00.000
..          ...                      ...
347         146  2020-08-06 12:36:00.000
348          89  2012-08-29 19:44:00.000
349        1044  2020-03-12 15:25:00.000
350         569  2021-07-29 09:15:00.000
351        1037  2021-04-03 04:53:00.000

[352 rows x 2 columns]